@mixin reset-bs {
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

@mixin h-margin-collapse($size) {
	margin: {
		left: $size;
		right: $size;
	};

	&:first-child {
		margin-left: 0 !important;
	}

	&:last-child {
		margin-right: 0 !important;
	}
}

@mixin stat-head-text {
	opacity: 0.3;
    text-transform: uppercase;
    font: {
        family: ProximaNova;
        size: 12px;
    };
}

@mixin v-margin-collapse($size) {
	margin: {
		top: $size;
		bottom: $size;
	};

	&:first-child {
		margin-top: 0 !important;
	}

	&:last-child {
		margin-bottom: 0 !important;
	}
}
