$sidebar-width: 300px
$sidebar-color: rgba(90%, 90%, 90%, 100%)

th
    cursor: pointer

td
    vertical-align: middle !important

.sidebar
    height: 100%
    width: $sidebar-width
    padding: 10px
    background-color: $sidebar-color
    .progress
        margin-bottom: 0 !important

.task-list
    padding: 10px


@media (min-width: 992px)
    .task-list
        float: right
        width: calc(100% - #{$sidebar-width})

.close-button
    width: 25px
    cursor: pointer
    span
        color: gray

.media:first-child
    margin-top: 15px !important

.icon
    width: 64px
    height: 64px
    text-align: center
    overflow: hidden
    img
        display: inline

.media-heading
    font-weight: bold
