let productionSettings = {
    cachePassword: false,
    autoConnect: false,
    reportErrors: true
}

let devSettings = {
    cachePassword: true,
    reportErrors: false,
    autoConnect: {
        port: "22007",
        host: "localhost"
    }
}

let settings = (process.env.NODE_ENV === "production" ? productionSettings : devSettings)

export default settings