interface BuildSettings {
    defaultUser?: string,
    cachePassword: boolean,
    reportErrors: boolean,
    autoConnect: boolean | {port: string, host: string},
}

let productionSettings: BuildSettings = {
    cachePassword: false,
    autoConnect: false,
    reportErrors: true
}

let devSettings: BuildSettings = {
    defaultUser: "Frob",
    cachePassword: true,
    reportErrors: false,
    autoConnect: {
        port: "22007",
        host: "localhost"
    }
}

let settings = (process.env.NODE_ENV === "production" ? productionSettings : devSettings)

export default settings